#oTree-may-overwrite-this-file
#IFYOUMODIFYTHISFILE,removethesecomments.
#otherwise,oTreewillautomaticallyoverwriteit.
psycopg2>=2.8.4
sentry-sdk==0.7.9
otree[mturk]==5.8.0
pandas==1.4.3
scikit_learn==1.1.1